<%- include ("../partials/header") %> 
<%- include ("../partials/navbar") %> 


<div class="container mt-5">
  <%- include ("../partials/flash") %> 
  <h3>Here how's your cart looks like</h3>
  <div class="row">
    <div class="col-lg-8 mt-3">   
        <%  for(let x of cart){%>
          <div class="card mb-3" style="max-width: 600px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img style="width: 100%; height: 200px;" src="<%= x.img %> " class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= x.name %> </h5>
                  <p class="card-text"><%= x.desc.substring(0,70) %> </p>
   <form action="/user/<%= currentUser._id %>/cart/<%= x._id %>?_method=DELETE" method="POST">
     <button class="btn btn-danger"> Remove</button>
   </form>
                </div>
              </div>
            </div>
          </div>
    
  
  
         <%} %>    
    </div>
<div class="col-lg-4">
  <h3>Products</h3>
  <ul class="list-group">
    <% totalamount = 0; %> 
  <% for(let item of cart){ %>
    <li class="list-group-item"><%= item.name %> -  <strong>	&#8377; <%= item.price %> </strong></li>
    <% totalamount += item.price %>

  
  <% } %> 
  <div class="mt-2">
    <h6>Total Amount : &#8377; <strong><%= totalamount %> </strong></h6>
    <a href="/payment" class="btn btn-success">Procede To Pay</a>
  </div>


</ul>
</div>
    
  </div>
  

</div>






<%- include ("../partials/footer") %>